@import "./variables";

.App {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.min-width {
  width: 35%;
  margin: auto;
}
.banner {
  margin: 0px;
  background-color: $navbarBackground;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  h2 {
    height: 10vh;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
}

.bid1 {
  padding-top: 2rem;
  width: 35%;
  margin: auto;

  .location {
    display: flex;
    justify-content: space-between;
  }
  div {
    padding: 5px;
  }
  .btn {
    width: 100%;
  }
}

.bid-amt-address {
  padding-top: 2rem;
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  button {
    color: $primaryColor;
    border: none;
    background: white;
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
  }
}
.journey-details {
  display: flex;
  flex-direction: column;
  h6 {
    font-size: small;
    color: grey;
    font-weight: 600;
  }
  span {
    font-size: large;
    font-weight: 700;
  }
  padding-bottom: 12px;
}

hr {
  width: 35%;
  margin: auto;
}
.add-amount {
  width: 35%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 150px;
  padding-left: 10%;
  span {
    color: black;
    font-size: 40px;
    padding-right: 3px;
  }
}
.add-address {
  div {
    padding-top: 10px;
  }
}
#priceId {
  color: black;
  font-size: 40px;
}

.otp-div {
  padding-top: 10px;
  .edit-btn {
    color: $primaryColor;
    border: none;
    outline: none;
    background: white;
  }
}
